@{
    ViewData["Title"] = "Spa";
}
@section Scripts
    {

}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Üye Kayıt Formu</h2>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="Name" placeholder="isminiz" value="Fatih" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="SurName" placeholder="Soy isminiz" value="Çakıroğlu" />
                </div>

                <div class="form-group">
                    <input type="email" class="form-control" id="Email" placeholder="Şifreniz" value="fcakiroglu@outlook.com" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="Email" placeholder="Şifreniz" value="1234" />
                </div>

                <button type="button" id="btnSave" class="btn btn-primary">Kaydet</button>
            </form>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>